.color-1 {background-color: #1b4332;color:white;}
.color-2 {background-color: #2d6a4f;color:white;}
.color-3 {background-color: #40916c;color:white;}
.color-4 {background-color: #74c69d;color:white;}
.color-5 {background-color: #74c69d;color:white;}

.color-cancel {background-color: #D80000; color:white}

.shine {
    text-shadow: 0 0 10px #71affe, 0 0 20px #71affe, 0 0 30px #71affe, 0 0 40px #71affe, 0 0 70px #71affe, 0 0 80px #71affe, 0 0 100px #71affe, 0 0 150px #71affe;
}








